@viewport {
    width: device-width;
}
/* Smaller Screens*/
@media screen and (max-width: 500px) and (hover:none) {
    body{
        background-color: rgb(243, 220, 170);
        border: 2px black solid;
        border-radius: 2em;
        width: 96%;
        margin:auto;
        font-size: 20px;
        display:flex;
        flex-direction: column;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        scroll-behavior: smooth;
    }

    header{
        color: rgb(26, 36, 94);
        background-color: aquamarine;
        display:flex;
        flex-direction: column;
        text-align: center;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }
    header h1, header h2{
        margin: 0.05em;
    }
    header > nav {
        display: block;
        background-color: rgb(148, 180, 240);
    }
    header nav > ul {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.25em;
        padding: 0.05em;
        justify-content: space-evenly;
        align-items: flex-start; 
    }
    header ul > li {
        list-style-type: none;
    }

    header nav li > ul, header nav ul li ul li ul li{
        display: none;
    }

    /*header nav li:hover ul{
        display: block;
        text-align: left;
    }*/

    header ~ nav{
        background-color: rgb(189, 255, 183);
        position: sticky;
        top: 0;
        border-bottom-left-radius: 0;
    }
    header ~ nav > ul {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        list-style-type: none;
        margin: 0.05em;
        padding: 0 0.05em;
    }
    header ~ nav li:hover ul{
        display: block;
        text-align: left; 
    }

    header ~ nav li ul{
        display:none;
        list-style: none;
    }

    /* The main */
    main{
        color: rgb(29, 27, 27);
        background-color: rgb(197, 223, 217);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }
    main > section{
        scroll-margin-top: 3rem;
        padding: 0 1em;
    }
    main p{
        text-indent: 25px;
        padding: 0 1em;
    }
    table{
        table-layout: fixed;
        border-collapse: collapse;
        max-width: 100%;
        display:block;
        overflow: auto;
        word-wrap: break-word;
        text-align: center;
        margin-left: auto;
    }
    td, th{
        border: solid 1px black;
    }

    figure > img{
        max-width: 100%;
        text-indent: 0;
    }

    figure > img:hover{
        transform: scale(1.25);
        transition: 1s linear 0.5s;
    }

    video{
        padding-right: 1em; /*doesn't work? */
        max-width: 100%;
    }
    figcaption{
        text-align: center;
        padding: 1rem;
    }
    footer{
        padding-left: 2em;
        background-color: black;
        color:white;
        grid-area: bot;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
    /* specific */
    a:visited{
        color: rgb(100, 38, 100);
        text-decoration: none;
    }
    a:link{
        color: rgb(26, 36, 94);
        text-decoration: none;
    }
    a:hover{
        color: rgb(230, 122, 122);
        text-decoration: none;
    }
    #intro{
        padding-top: 0;
        background-color: rgb(173, 156, 190);
    }
    main > section:nth-child(odd), #before{
        background-color: rgb(153, 209, 211);
    }
    main >section:nth-child(even){
        background-color: rgb(247, 193, 146);
    }
    #after{
        background-color: rgb(235, 172, 151);
    }
    .non-visually-impaired{
        display:none;
    }
    a img{
        width: 1.25em;
    }
    h5{
        font-size: 1em;
    }
    h6{
        font-size: 0.85em;
        font-style: italic;
        margin-block-end: 0;
        margin-block-start: 0;
    }
    h3, h4, h5, p{
        margin-block-end: 0.75rem;
        margin-block-start: 0.75em;
    }
}
/* Smaller Screens*/
@media screen and (max-width: 500px) {
    body{
        background-color: rgb(243, 220, 170);
        border: 2px black solid;
        border-radius: 2em;
        width: 96%;
        margin:auto;
        font-size: 20px;
        display:flex;
        flex-direction: column;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        scroll-behavior: smooth;
    }

    header{
        color: rgb(26, 36, 94);
        background-color: aquamarine;
        display:flex;
        flex-direction: column;
        text-align: center;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }
    header h1, header h2{
        margin: 0.05em;
    }
    header > nav {
        display: block;
        background-color: rgb(148, 180, 240);
    }
    header nav > ul {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.25em;
        padding: 0.05em;
        justify-content: space-evenly;
        align-items: flex-start; 
    }
    header ul > li {
        list-style-type: none;
    }

    header nav li > ul, header nav ul li ul li ul li{
        display: none;
    }

    /*header nav li:hover ul{
        display: block;
        text-align: left;
    }*/

    header ~ nav{
        background-color: rgb(189, 255, 183);
        position: sticky;
        top: 0;
        border-bottom-left-radius: 0;
    }
    header ~ nav > ul {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        list-style-type: none;
        margin: 0.05em;
        padding: 0 0.05em;
    }
    header ~ nav li:hover ul{
        display: block;
        text-align: left; 
    }

    header ~ nav li ul{
        display:none;
        list-style: none;
    }

    /* The main */
    main{
        color: rgb(29, 27, 27);
        background-color: rgb(197, 223, 217);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }
    main > section{
        scroll-margin-top: 3rem;
        padding: 0 1em;
    }
    main p{
        text-indent: 25px;
        padding: 0 1em;
    }
    table{
        table-layout: fixed;
        border-collapse: collapse;
        max-width: 100%;
        display:block;
        overflow: auto;
        word-wrap: break-word;
        text-align: center;
        margin-left: auto;
    }
    td, th{
        border: solid 1px black;
    }

    figure > img{
        max-width: 100%;
        text-indent: 0;
    }

    figure > img:hover{
        transform: scale(1.5);
        transition: 1s linear 0.5s;
    }

    video{
        padding-right: 1em; /*doesn't work? */
        max-width: 100%;
    }
    figcaption{
        text-align: center;
        padding: 1rem;
    }
    footer{
        padding-left: 2em;
        background-color: black;
        color:white;
        grid-area: bot;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
    /* specific */
    a:visited{
        color: rgb(100, 38, 100);
        text-decoration: none;
    }
    a:link{
        color: rgb(26, 36, 94);
        text-decoration: none;
    }
    a:hover{
        color: rgb(230, 122, 122);
        text-decoration: none;
    }
    #intro{
        padding-top: 0;
        background-color: rgb(173, 156, 190);
    }
    main > section:nth-child(odd), #before{
        background-color: rgb(153, 209, 211);
    }
    main >section:nth-child(even){
        background-color: rgb(247, 193, 146);
    }
    #after{
        background-color: rgb(235, 172, 151);
    }
    .non-visually-impaired{
        display:none;
    }
    a img{
        width: 1.25em;
    }
    h5{
        font-size: 1em;
    }
    h6{
        font-size: 0.85em;
        font-style: italic;
        margin-block-end: 0;
        margin-block-start: 0;
    }
    h3, h4, h5, p{
        margin-block-end: 0.75rem;
        margin-block-start: 0.75em;
    }
}

/* BREAK */
@media screen and (min-width: 500px) {
    html{
        background-image: url(Daco_271421.png);
    }
    body{
        background-color: rgb(243, 220, 170);
        border: 2px black solid;
        border-radius: 2em;
        width: 95%;
        margin:auto;
        font-size: 20px;
        display:flex;
        flex-direction: column;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        scroll-behavior: smooth;
    }

    header{
        color: rgb(26, 36, 94);
        background-color: aquamarine;
        display:flex;
        flex-direction: column;
        text-align: center;
        grid-area: top;
        justify-content: flex-start;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }
    header h1, header h2{
        margin: 0.2em;
    }
    header > nav {
        background-color: rgb(241, 154, 190);
    }
    header nav > ul {
        display:flex;
        flex-direction: row;
        margin: 0.5em;
        padding: 0.05em;
        justify-content: space-evenly;
        align-items: flex-start; 
    }
    header ul > li {
        list-style-type: none;
    }

    header nav li > ul, header nav ul li ul li ul li{
        display: none;
    }

    header nav li:hover ul{
        display: block;
        text-align: left;
    }
    /*Nav witin page*/
    header ~ nav{
        background-color: rgb(178, 189, 160);
        position: sticky;
        top: 0;
        border-bottom-left-radius: 0;
    }
    header ~ nav > ul {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        list-style-type: none;
        padding: 0.05em;
        margin: 0.5em;
    }
    header ~ nav li:hover ul{
        display: block;
        text-align: left; 
    }

    header ~ nav li ul{
        display:none;
        list-style: none;

    }
    /* The main */
    main{
        /*flex: 1;*/
        background-color: rgb(197, 223, 217);
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*overflow: auto;*/
        
    }
    main > section{
        scroll-margin-top: 3rem;
        padding: 0 1em;
        text-align: justify;
        /*display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        overflow: auto;*/
    }
    section > p{
        text-indent: 25px;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    h5{
        font-size: 1em;
    }
    h6{
        font-size: 0.85em;
        font-style: italic;
        margin-block: 0;
    }

    h3, h4, h5, p{
        margin-block-end: 0.75rem;
        margin-block-start: 0.75em;
    }
    table{
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
        display:block;
        /*overflow: auto;*/
        word-wrap: break-word;
        text-align: center;
    }
    td, th{
        border: solid 1px black;
    }
    td ~ p{
        display: none;
    }
    section > ul{
        text-indent: 0;
    }
    figure{
        text-align: center;
        text-indent: 0;
    }
    figure > img{
        max-width: 60%;
        padding: 0.25em;
    }

    /*figure > img:hover{
        transform: scale(1.5);
        transition: 1s linear 0.5s;
    }*/

    video{
        display: inline;
        max-width: 45%;
    }
    figcaption{
        text-align: center;
        padding: 1rem;
    }

    footer{
        padding-left: 2em;
        background-color: black;
        color:white;
        grid-area: bot;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
    /* specific */
    a:visited{
        color: rgb(100, 38, 100);
        text-decoration: none;
    }
    a:link{
        color: rgb(26, 36, 94);
        text-decoration: none;
    }
    a:hover{
        color: rgb(128, 74, 74);
        background-color: darkgray;
        text-decoration: none;
    }
    #intro{
        padding-top: 0;
        background-color: rgb(173, 156, 190);
    }
    main > section:nth-child(odd){
        background-color: rgb(152, 199, 201);
    }
    main >section:nth-child(even){
        background-color:  rgb(235, 162, 99);
    }
    ::selction{
        background-color: darkgray;
    }
    .visually-impaired{
        display:none;
    }
    .non-visually-impaired{
        display: block;
    }
    table ~ p{
        display:none;
    }
    nav a img{
        width: 1.25em;
    }
    footer p > a{
        padding-right: 0.5em;
    }
}

/* 700 */
@media screen and (min-width: 700px) {
    header{
        color: rgb(26, 36, 94);
        flex-wrap: wrap;
        align-items: baseline;
        flex-direction: row-reverse;
    }
    /*header > h1{
        padding: 0.75em 0 0.75em 1em;
    }
    header > h2{
        padding-right: 1em;
        margin-left: auto; 
    }*/
    header h1{
        padding-right: 0.75em;
        margin-left: auto; 
        /*padding-right: 0.5em;
        margin: 0.5em;*/
    }
    header h2{
        padding-left: 0.5em;
        margin-left: 0.5em;
        /*padding-left: 1em;
        margin-right: auto; */
    }
    header > nav {
        width: 100%;
        background-color: rgb(130, 159, 211);
        align-self: flex-end;
        padding: 0.5em 0;
    }
    header nav > ul {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start; 
        flex-wrap: wrap;
    }
    header ul > li {
        list-style-type: none;
    }

    header nav li > ul, header nav ul li ul li ul li{
        display: none;
    }

    header nav li:hover ul{
        display: block;
        text-align: left;
    }

    header ~ nav{
        background-color: rgb(178, 189, 160);
        position: sticky;
        top: 0;
        
    }
    header ~ nav > ul {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start; 
        list-style: none;
        padding: 0 0.5em;
    }
    header ~ nav li:hover ul{
        display: block;
        text-align: left; 
    }

    header ~ nav li ul{
        display:none;
        list-style: none;

    }
    /* The main */
    main{
        flex: 1;
        background-color: rgb(197, 223, 217);
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    main > section{
        scroll-margin-top: 3rem;
        padding: 0 1em 2em 1em;
        /*position: sticky;
        top: 0;*/
    }
    table{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    figure > img{
        width: 45%;
        padding: 0.5em;
    }

    figure > img:hover{
        transform: scale(1.5);
        transition: 1s linear 0.5s;
    }

    video{
        max-width: 45%;
        text-align: center;
    }
    figcaption{
        text-align: center;
        padding: 1rem;
    }
    footer{
        padding-left: 2em;
        background-color: black;
        color:white;
        grid-area: bot;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
}

/* 900 */
@media screen and (min-width: 900px /*9000something*/) {
    body{
        background-color: rgb(231, 194, 114);
        border: 2px black solid;
        width: 85%;
        margin:auto;
        font-size: 20px;
        display:grid;
        grid-template-areas: "top top top"
                            "lmiddle cmiddle cmiddle"
                            "lmiddle bot bot";
        grid-template-columns: 0.45fr 1fr 1fr;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        scroll-behavior: smooth;
    }
    header h1{
        margin-left: auto; 
        margin-top: 0.75em;
        margin-bottom: 0.75em;
        padding-right: 1.5em;
        /*padding-left: 1em;
        margin: 0.5em;*/
    }
    header h2{
        padding-left: 1em;
        margin-left: 1em;/*
        padding-right: 1.5em;
        margin-left: auto; */
    }
    header nav{
        background-color: rgb(226, 166, 122)/*rgb(240, 174, 126)*/;   
    }
    
    header nav li:hover ul{
        display: block;
        text-align: left;
    }
    
    header ~ nav{
        background-color: rgb(175, 238, 189);
        border-bottom-left-radius: 2em;
    }
    header ~ nav > ul{
        list-style: none;
        padding: 1em 0.25em;
        display: block;
        position: fixed; 
    }
    nav a {
        display: block;
    }
    /* The main */
    main{
        background-color: rgb(197, 223, 217);
        grid-area: cmiddle; 
        display: grid;
        justify-content: center;
    }

    td{
        border: solid 1px black;
        padding: 0.25em ;
    }

    figure > img{
        width: 35%;
        padding: 0.5em;
    }

    figure > img:hover{
        transform: scale(2);
        transition: 1s linear 0.5s;
    }

    video{
        max-width: 45%;
        padding: 0 auto;
    }
    figcaption{
        text-align: center;
        padding: 1rem;
    }
    footer{
        padding-left: 2em;
        background-color: black;
        color:white;
        grid-area: bot;
        border-bottom-left-radius: 0;
    }
    /* specific */
    main > section:nth-child(odd){
        background-color: rgb(224, 186, 152);
    }
    main >section:nth-child(even){
        background-color: rgb(152, 199, 201);
    }
}

/* 1k */
@media screen and (min-width: 1169px) /*and (hover:none)*/ {
    header ~ nav > ul{
        list-style: none;
        padding: 0em 1em;
        display: block;
        position: fixed; 
    }
    /* The main */
    main{
        background-color: rgb(197, 223, 217);
        grid-area: cmiddle; 
        /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap; */  
        
    }
    main > section{
        scroll-margin-top: 3rem;
        overflow:auto;/* should have scrollbar*/
        padding: 2em 1.5em 4rem 1.5em;
        position: sticky;
        top: 0;
        height: 90vh;
        /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;*/
        vertical-align: middle;
    }
    figure > img{
        width: 35%;
        padding: 0.5em;
    }
    figure > img:hover{
        transform: scale(2);
        transition: 1s linear 0.5s;
    }

    video{
        max-width: 45%;
        text-align: center;
    }
    figcaption{
        text-align: center;
        padding: 1rem;
    }
    footer{
        
        padding-left: 2em;
        background-color: black;
        color:white;
        grid-area: bot;
    }
    /* specific */
    a:visited{
        color: rgb(100, 38, 100);
        text-decoration: none;
    }
    a:link{
        color: rgb(26, 36, 94);
        text-decoration: none;
    }
    a:hover{
        color: rgb(70, 43, 43);
        text-decoration: none;
    }
    #intro{
        padding-top: 0;
        background-color: rgb(173, 156, 190);
    }
    main > section:nth-child(odd){
        background-color: rgb(235, 179, 130);
    }
    main >section:nth-child(even){
        background-color:  rgb(152, 199, 201);
    }
    #intro, #facts, #hobby, #dreams{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    h5{
        color:rgb(58, 9, 58);
    }
}